.header{
	background-color: rgba(204, 204, 204, 0.534);
	position: relative;
	width: 100%;
}

h2{
	text-align: center;
	font-size: 25px;
	padding-bottom: 40px;
}

h1{
	text-align: center;
	font-size: 85px;
	font-weight: bold;
	padding: 85px 0 22px 0; 
}